header {
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  @include _container;
  h1 {
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.0400rem;
  }
}